@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color: #002228 !important;
 color: #fff !important;
}

::-webkit-scrollbar{
  background-color: #001114;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: #012329;
  cursor: pointer;
  border-radius: 10px;
}